<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppLanguageConverterGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AppLanguageConverterGUI.Properties.Settings>
            <setting name="CsvPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OuputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceLineBreak" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateAllResx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeaderRow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IdColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeaderIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </AppLanguageConverterGUI.Properties.Settings>
    </userSettings>
</configuration>